<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">
    <title>Campus List - Dashboard</title>
</head>

<body class="antialiased">
    <div class="page">
        <!-- Include Navbar -->
        <header th:replace="fragments :: navbar"></header>
        <div th:replace="fragments :: subnav"></div>
        <div class="content">
            <div class="container-fluid">
                <!-- Page title -->
                <div class="d-print-none">
                    <div class="row align-items-center">
                        <!-- Page title actions -->
                        <div class="page-header d-print-none">
                            <div class="row ">
                                <div class="d-flex justify-content-between">
                                    <h2 class="page-title">
                                        Campus Management
                                    </h2>
                                    <button class="btn btn-primary" data-bs-target="#createBranchCampus" data-bs-toggle="modal">
									<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
									     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
									     fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
										<circle cx="12" cy="12" r="9" />
										<line x1="9" y1="12" x2="15" y2="12" />
										<line x1="12" y1="9" x2="12" y2="15" /></svg>
									Add New Campus
								</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-vcenter table-bordered card-table table-striped display" id="tabledb1">
                                    <thead>
                                        <tr>
                                            <th>Campus name</th>
                                            <th>Branch Name</th>
                                            <th>Location</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="c:${list}">
                                            <td th:text="${c.getBranchcamnm()}"></td>
                                            <td th:text="${c.getBranchnm()}"></td>
                                            <td th:text="${c.getCampusnm()}"></td>
                                            <td th:text="${c.getAddress()}"></td>
                                            <td>
                                                <button class="btn btn-vk btn-icon" data-bs-target="#updatebranchcampus"
                                                        data-bs-toggle="modal" id="editbranchcampusbtn"
                                                        onclick="doUpdateBranchcampus(this)" disabled>
											<svg class="icon" fill="none" height="24"
											     stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
											     stroke-width="2" viewBox="0 0 24 24" width="24"
											     xmlns="http://www.w3.org/2000/svg">
												<path d="M0 0h24v24H0z" fill="none" stroke="none"/>
												<path
														  d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"/>
												<path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"/>
												<line x1="16" x2="19" y1="5" y2="8"/>
											</svg>
											<input id="" th:value="${c.getBranchcamid()}" type="hidden">
										</button>
                                                <button class="btn btn-google btn-icon" id="deletebranchcampusbtn"
                                                        onclick="deletebranchcampus(this)" disabled>
											<svg class="icon" fill="none" height="24"
											     stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
											     stroke-width="2" viewBox="0 0 24 24" width="24"
											     xmlns="http://www.w3.org/2000/svg">
												<path d="M0 0h24v24H0z" fill="none" stroke="none"/>
												<path d="M15 3v4a1 1 0 0 0 1 1h4"/>
												<path
														  d="M17 17h-6a2 2 0 0 1 -2 -2v-6m0 -4a2 2 0 0 1 2 -2h4l5 5v7c0 .294 -.063 .572 -.177 .823"/>
												<path
														  d="M16 17v2a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2"/>
												<line x1="3" x2="21" y1="3" y2="21"/>
											</svg>
											<input th:value="${c.getBranchcamid()}" type="hidden">
										</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments :: footer"></footer>
        </div>
    </div>
    <!-- Modal create branch -->
    <div th:replace="branchcampusFormPartial :: branchcampusCreate"></div>
    <!-- Model update branch -->
    <div th:replace="branchcampusFormPartial :: branchcampusEdit"></div>
    <!-- branch Scripts -->
    <div th:replace="branchcampusFormPartial :: branchcampusScripts"></div>
</body>

</html>