<div th:fragment="renderStudentGroup">
    <div id="renderSG"></div>
</div>

<div th:fragment="createStudentGroup">
    <form id="studentGroupCreate" enctype="multipart/form-data">
        <div class="row">
            <div class="form-row mb-2 row">
                <!-- BranchCampus -->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="branchCampusC" class="form-label">Campus</label>
                        <select class="form-select" id="branchCampusC"></select>
                        <small></small>
                    </div>
                </div>
                <!-- Courses -->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="CoursesC" class="form-label">Courses</label>
                        <select class="form-select" id="CoursesC"></select>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="form-row mb-2 row">
                <!-- Session -->
                <div class="col-4">
                    <div class="mb-3">
                        <label for="SessionC" class="form-label">Session</label>
                        <select class="form-select" id="SessionC">
                            <option class="sessionCStuGrop" selected value="0"> --- Select Session --- </option>
                            <option class="sessionCStuGrop" value="M">Morning</option>
                            <option class="sessionCStuGrop" value="A">Afternoon</option>
                            <option class="sessionCStuGrop" value="N">Night</option>
                        </select>
                        <small></small>
                    </div>
                </div>
                <!-- Shift -->
                <div class="col-4">
                    <div class="mb-3">
                        <label for="ShiftC" class="form-label">Shift</label>
                        <select class="form-select" id="ShiftC">
                            <option class="shiftCStuGrop" selected value="0Shift"> --- Select Shift --- </option>
                            <option class="shiftCStuGrop" value="0">Monday - Wednesday - Friday</option>
                            <option class="shiftCStuGrop" value="1">Tuesday - Thursday - Saturday</option>
                        </select>
                        <small></small>
                    </div>
                </div>
                <!-- Opening Date -->
                <div class="col-4">
                    <div class="mb-3">
                        <label for="OpeningDateC" class="form-label">Opening Date</label>
                        <input type="date" class="form-control" id="OpeningDateC">
                        <small></small>
                    </div>
                </div>
            </div>
            <!--Submit button-->
            <div class="row">
                <div class="col-4">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">Cancel</a>
                </div>
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary" value="Create">
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="updateStudentGroup">
    <form id="studentGroupUpdate" enctype="multipart/form-data">
        <div class="row">
            <div class="form-row mb-2 row">
                <input type="text" class="form-control" hidden id="studengroupidUStuGrop">
                <!-- BranchCampus -->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="branchCampusU" class="form-label">Campus</label>
                        <select class="form-select" id="branchCampusU"></select>
                        <small></small>
                    </div>
                </div>
                <!-- Courses -->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="CoursesU" class="form-label">Courses</label>
                        <select class="form-select" id="CoursesU"></select>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="form-row mb-2 row">
                <!-- Session -->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="SessionU" class="form-label">Session</label>
                        <select class="form-select" id="SessionU">
                            <option class="sessionUStuGrop" selected value="0"> --- Select Session --- </option>
                            <option class="sessionUStuGrop" value="M">Morning</option>
                            <option class="sessionUStuGrop" value="A">Afternoon</option>
                            <option class="sessionUStuGrop" value="N">Night</option>
                        </select>
                        <small></small>
                    </div>
                </div>
                <!-- Shift -->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="ShiftU" class="form-label">Shift</label>
                        <select class="form-select" id="ShiftU">
                            <option class="shiftUStuGrop" selected value="0Shift"> --- Select Shift --- </option>
                            <option class="shiftUStuGrop" value="0">Monday - Wednesday - Friday</option>
                            <option class="shiftUStuGrop" value="1">Tuesday - Thursday - Saturday</option>
                        </select>
                        <small></small>
                    </div>
                </div>
                <!-- Opening Date -->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="OpeningDateU" class="form-label">Opening Date</label>
                        <input type="date" class="form-control" id="OpeningDateU">
                        <small></small>
                    </div>
                </div>
            </div>
            <!--Submit button-->
            <div class="row">
                <div class="col-4">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">Cancel</a>
                </div>
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
            </div>
        </div>
    </form>
</div>



<div th:fragment="searchStudentGroup">
    <div class="row">
        <!-- Select Option -->
        <div class="col-auto">
            <div class="mb-3">
                <select id="optionSearchSG" class="form-select" aria-label="Default select example">
                    <option value="allOptionSearchSG" selected>All</option>
                    <option value="SubjectOptionSearchSG">Subject</option>
                    <option value="CoursesOptionSearchSG">Courses</option>
                </select>
            </div>
        </div>

        <div class="col-auto">
            <div class="mb-3">
                <div class="row">
                    <!-- Branch -->
                    <div class="col-auto" id="divBranchStudentGroupS"><select class="form-control"
                                                                              id="BranchStudentGroupS"></select></div>
                    <!-- Subject -->
                    <div class="col-auto" id="divSubjectStudentGroupS"><select class="form-control"
                                                                               id="SubjectStudentGroupS"></select></div>
                    <!-- Courses -->
                    <div class="col-auto" id="divCoursesStudentGroupS"><select class="form-control"
                                                                               id="CoursesStudentGroupS"></select></div>
                </div>
            </div>
        </div>
        <!-- Submit -->
        <div class="col-auto">
            <div class="mb-3">
                <button type="button" id="btnSearchStudentGroup" class="btn btn-instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="10" cy="10" r="7" />
                        <line x1="21" y1="21" x2="15" y2="15" />
                    </svg> Search</button>
            </div>
        </div>
    </div>
</div>